* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #307843;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form select {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

form select option {
  font-size: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  background-color: #fff;
}

@keyframes changeBackground {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}

@keyframes OriginalBackground {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}

.heure {
  background-color: #f2f2f2;
  padding: 1rem 10rem;
  font-size: 3rem;
  border-radius: 999px;
  cursor: pointer;
}

.heure h1 {
  font-size: 6rem;
  color: #307843;
  text-align: center;
  user-select: none;
}

.heure span {
  font-weight: bold;
}

footer {
  background-color: #307843;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

footer p {
  margin: 0;
  user-select: none;
}

/* responsive design */

@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  .heure {
    padding: 1rem 5rem;
    font-size: 1.5rem;
  }

  .heure h1 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .heure {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .heure h1 {
    font-size: 2rem;
  }
}

/* responsive height */

@media (max-height: 768px) {
  main {
    padding: 1rem;
  }

  .heure {
    padding: 1rem 5rem;
    font-size: 1.5rem;
  }

  .heure h1 {
    font-size: 3rem;
  }
}

@media (max-height: 480px) {
  .heure {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .heure h1 {
    font-size: 2rem;
  }
}

/* responsive width and height */

@media (max-width: 768px) and (max-height: 768px) {
  main {
    padding: 1rem;
  }

  .heure {
    padding: 1rem 5rem;
    font-size: 1.5rem;
  }

  .heure h1 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) and (max-height: 480px) {
  .heure {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .heure h1 {
    font-size: 2rem;
  }
}
